# This file houses the variables of the bot and must be located
# in the same directory as mentionbot.py
# Mentionbot uses MySQL to store posts. Make sure you assign it
# to an existing table with relevant privileges.

conf = {
    "keywords": ["key1", "key2", "key3", "key4", "key5"],
    "subs": ["sub1", "sub2", "sub3", "sub4", "sub5"],
    "sleep": 120
}

sql = {
    "host": "localhost",  # IP or FQDN of mysql server
    "db": "mentionbot",  # Database name
    "user": "username",  # Database user name
    "pwd": "password",  # Database user password
    "table": "posts",  # Table name
}

reddit = {
    "client_id": "CLIENT ID",
    "client_secret": "CLIENT SECRET",
    "user_name": "ACCOUNT USERNAME",
    "password": "ACCOUNT PASSWORD",
    "user_agent": "Mentionbot - a script that looks for mentions"
}
